.top-banner{
    height: 650px;
    width:100%;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    

}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
#menu{
	color:#6C6C6C;
	transition: all ease .5s;
    margin-top:7%;
    padding-left: 23%;
}
.a1{
	color:#6C6C6C;
	text-decoration:none;
	border: 1px solid #EEEEEE;
	padding:10px;
	
}
.menu2{
	display:inline;
	text-decoration:none;
	color:#6C6C6C;
	transition: all ease .5s;
}
.main-heading{
    float:left;
    width:50%;
    
}
.a1:hover{
	color:#3E64FF;
	text-decoration:none;
	
}
#name{
    font-size: 35px;
    padding-left: 16%;
}
.letter-color{
    color:#3E64FF;
    
}
#intro{
    width:100%;
    text-align: center;
    
}
#heading-wrapper{
    height: 220px;
    width:100%;
}
#intro h1{
    font-size: 50px;
    font-weight: 1000px;
    margin:0;
    padding:0;
}
#intro h4{
    color:#3E64FF;
    font-weight: 700px;
}
#intro h3{
    font-weight: 700px;
}
#webdev{
    color:#3E64FF;
}
.first-left{
    width:50%;
    float:left;
}
.first-left img{
    width:70%;
    margin-bottom: 5%;
    margin-left: 20%;
    ;
    
}
.three-col{
    width:100%;
    height:600px;
    background-color:#EDF0FF;
    
}
.portfolio-header{
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
}
.portfolio-header span{
    color: #3E64FF;
}

.parts{
    width:25%;
    height:290px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgb(185, 184, 184);
    float:left;
    margin-left:6%;
}
.parts img{
    margin: 3%;
}
.parts h3{
    padding:0%;
    margin:0%;
    text-align: center;
}
.parts p{
    padding:0%;
    margin:0%;
    text-align: center;
    color: #6D6D6D;
}
.three-col a{
    text-decoration: none;;
}
.bio-section{
    height: 620px;
    width:100%;
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    margin: 0%;
    

}

.bio-half{
    width: 50%;
    height: 80%;
    float: left;

}
.bio-half img{
    width: 75%;
    height:100%
}
.bio1{
    float: left;
    margin-left: 7%;
}
#bio2 h3{
    color:#6C6C6C;
}
.bio-half h1{
    margin-left: 7%;
    color: #3E64FF;
}
.bio-half p{
    margin-left: 7%;
    color:#6C6C6C;
}
.cv-button{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 7px;
    color: white;
    font-weight: bold;
}
#phone{
    margin-bottom: 40%;
}
.work{
    width: 100%;
    height: 300px;
    
}
.work-bg{
    height: 200px;
    width:75%;
    margin: 5% 12%;
    background-image: url("workshape.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.chat{
    width: 50%;
    height: 100%;
    float: left;
}
.chat h1{
    color:white;
    font-weight: bold;
    font-size: 37px;
    margin-left: 25%;
    margin-top: 13%;
}
.chat-btn{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 30%;
}
.chat-div{
    width: 90%;
    height: 20%;
    margin-top: 17%;
}
.skill-section{
    width: 100%;
    height: 700px;
    background-color: #EDF0FF;
}
.skill-progress{
    height: 70%;
    width: 70%;
    margin: 5% 15%;
    
}
#skill-header{
    color: #3E64FF;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
#skill-header span{
    color: black;
}
.skill-percentage{
    width: 100%;
    height:10%;
    background-color: white;
}
.percent{
    height: 100%;
    width: 90%;
    background-image: linear-gradient(45deg, #7791fa,#3E64FF);
    
}
.percent h3{
    color:white;
    padding-left: 10%;
    font-size: 33px;
    font-weight: bold;
}
#css-percent{
    width: 80%;
}
#java-percent{
    width: 60%;
}
#php-percent{
    width: 70%;
}

